{% extends 'eventary/base.html' %}

{% load static %}

{% block 'head' %}
<link rel="stylesheet" 
    href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.css">
<link rel="stylesheet" 
    href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.js"></script>
{{ timedateform.media }}
{% endblock %}

{% block 'content' %}
<h2>Veranstaltung melden</h2>
    {% include 'eventary/forms/add_event.html' %}
{% endblock %}
