{% extends 'eventary/base.html' %}

{% load static %}
{% load eventary_tags %}

{% block 'content' %}
<h1>Proposal: {{ event.title }}</h1>

<p>Today's number of anonymous views: {{ secret.calls }}.{% if secret.last_call %}Last anonymous call {{ secret.last_call|date }}.{% endif %}</p>

<h2>Details</h2>

{% if event.image %}
    <img src="{% static event.image.url %}" title="" alt="" />
{% endif %}

{% include 'eventary/components/event_details_as_table.html' %}

{% if event.description %}
<h3>Description</h3>
<p>{{ event.description }}</p>
{% endif %}

{% if event.document %}
<h3>Downloads</h3>
<div><a href="{% static event.document.url %}" title="">Download info sheet</a></div>
{% endif %}

{% if not request.user.is_anonymous %}
<h2>Actions</h2>
<table class="table">
    <tr>
        <td>
            <a href="{% url 'eventary:redactors-update_event' event.calendar.pk event.pk %}" title="Update '{{ event.title }}'">
                Update '{{ event.title }}' <i class="glyphicon glyphicon-pencil"></i>
            </a>
        </td>
        <td>
            <a href="{% url 'eventary:redactors-publish_event' event.calendar.pk event.pk %}" title="Approve '{{ event.title }}'">
                Approve '{{ event.title }}' <i class="glyphicon glyphicon-ok"></i> 
            </a>
        </td>
        <td>
            <a href="{% url 'eventary:redactors-delete_event' event.calendar.pk event.pk %}" title="Delete '{{ event.title }}'">
                Delete '{{ event.title }}' <i class="glyphicon glyphicon-remove"></i> 
            </a>
        </td>
    </tr>
</table>
{% endif %}

<p>Back to <a href="{% url 'eventary:users-calendar_details' calendar.pk %}" title="Back to {{ calendar.title }}">{{ calendar.title }}</a></p>

{% endblock %}
