{% extends 'eventary/base.html' %}

{% block 'content' %}
<h2>{{ calendar.title }}</h2>

<h3>{{ now|date:"F Y" }}</h3>

{% include 'eventary/forms/filter_calendar.html' %}

{% include 'eventary/components/month_as_table.html' %}

<div>
    <a href="?year={{ previous.year }}&month={{ previous.month }}">Previous</a>
    <a href="?year={{ next.year }}&month={{ next.month }}">Next</a>
</div>

<a href="{% url 'eventary:event_add' calendar.pk %}" title="Veranstaltung melden">Veranstaltung melden</a>



{% endblock %}
