{% extends 'eventary/base.html' %}

{% block 'content' %}
<h2>{{ calendar.title }}</h2>


<h3>Events</h3>
<ul>
    {% for timedate in timedates %}
    <li>{{ timedate }} - <a 
        href="{% url 'eventary:event_details' calendar.pk timedate.event.pk %}"
        title="{{ timedate.event.title }}">{{ timedate.event.title }}</a></li>
    {% empty %}
    <li>No events for the given filter found.</li>
    {% endfor %}
</ul>

{% if timedates.paginator.num_pages > 1 %}
<div>
    {% if timedates.has_previous %}
    <a href="?page={{ timedates.previous_page_number }}">previous</a>
    {% endif %}

    <span>
        Page {{ timedates.number }} of {{ timedates.paginator.num_pages }}.
    </span>

    {% if timedates.has_next %}
    <a href="?page={{ timedates.next_page_number }}">next</a>
    {% endif %}
</div>
{% endif %}

<h3>{{ date|date:"F Y" }}</h3>

{% include 'eventary/components/month_as_table.html' %}

<div>
    <a href="?year={{ previous.year }}&month={{ previous.month }}">Previous</a>
    <a href="?year={{ next.year }}&month={{ next.month }}">Next</a>
</div>

<h3>Apply a filter</h3>
{% include 'eventary/forms/filter_calendar.html' %}

<h3>Add events</h3>
<a href="{% url 'eventary:event_add' calendar.pk %}" title="Add an event">Add an event</a>

{% endblock %}
