{% extends 'cal/base.html' %}

{% block 'content' %}
<h2>{{ calendar.title }}</h2>

<table>
  <tr><th>MO</th><th>DI</th><th>MI</th><th>DO</th><th>FR</th><th>SA</th><th>SO</th></tr>
{% for week in overview %}
  <tr>
  {% for day, events in week %}
    <td>
    {% if day %}
      <span>{{ day }}</span>
      {% for event in events %}
        <div><a href="{% url 'cal:event_details' calendar.pk event.pk %}" title="{{ event }}">{{ event|truncatechars:9 }}</a></div>
      {% endfor %}
    {% endif %}
    </td>
  {% endfor %}
  </tr>
{% endfor %}
</table>

<a href="?year={{ previous.year }}&month={{ previous.month }}">Previous</a>
<a href="?year={{ next.year }}&month={{ next.month }}">Next</a>


{% endblock %}
